<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.javen.service">

    <application
        android:persistent="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.javen.demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.javen.receiver.SystemEventReceiver">
            <intent-filter >
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.javen.AmService.destroy"/>
            </intent-filter>
        </receiver>

        <service android:name=".AmService"/>
        <service android:name=".ShowService"/>
    </application>

</manifest>